$light_white: #fafafa;
$text_color: rgb(50, 82, 110);
$blue: #428EFF;
$green: #4BECC9;
$grey:#5cafd2;
@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Regular.eot');
    src: url('../fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/FiraSans-Regular.woff2') format('woff2'), url('../fonts/FiraSans-Regular.woff') format('woff'), url('../fonts/FiraSans-Regular.ttf') format('truetype'), url('../fonts/FiraSans-Regular.svg#FiraSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Bold.eot');
    src: url('../fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/FiraSans-Bold.woff2') format('woff2'), url('../fonts/FiraSans-Bold.woff') format('woff'), url('../fonts/FiraSans-Bold.ttf') format('truetype'), url('../fonts/FiraSans-Bold.svg#FiraSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Righteous';
    src: url('../fonts/Righteous-Regular.eot');
    src: url('../fonts/Righteous-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Righteous-Regular.woff2') format('woff2'), url('../fonts/Righteous-Regular.woff') format('woff'), url('../fonts/Righteous-Regular.ttf') format('truetype'), url('../fonts/Righteous-Regular.svg#Righteous-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    transition: 0.4s all ease;
}

html,
body {
    height: 100%;
    background: $light_white;
    color: $text_color;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    & > .wrapper {
        padding-top: 74px;
    }
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;
}

.logo {
    height: 74px;
    background: #d43030;
    a {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: #fff;
        text-decoration: none;
        span {
            letter-spacing: 1.5px;
        }
    }
}

.container:after,
.container:before {
    display: none;
}

#page-main {
    article {
        padding-bottom: 40px;
    }
}

.container,
.data {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

#page-view {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.parallax-mirror {
    z-index: 1 !important;
}

#sidebar {
    display: none;
    color: $grey;
    width: 200px;
    background: #16161d;
    position: absolute;
    right: -200px;
    top: 0;
    bottom: -100px;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.article-img {
    display: inline-block;
}

.sticky-footer {
    height: 100px;
    background: url(../img/footer.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    margin-top: 100px;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.btn-more {
    height: 40px;
    width: 90px;
    background: transparent;
    border: 2px solid $blue;
    border-radius: 10px;
    color: $blue;
    transition: 0.5s background linear, 1s color;
    box-shadow: 0 0 2px #000;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
    &:hover {
        background: $blue;
        color: #fff;
        outline: 0;
        border-color: #fff;
        transition: 0.5s background linear, 1s color, 0.5s border-color;
        transition-timing-function: cubic-bezier(0, 0, 1, 1);
    }
}

.not-found {
    height: 100%;
}

.row-header {
    height: 74px;
    background: #131313;
    box-shadow: 0px 1px 15px rgba(212, 48, 48, 0.5);
    & > .container {
        & > div {
            padding: 0;
        }
    }
    .search {
        float: right;
        #search-head {
            height: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            align-items: center;
        }
        input {
            &:focus {
                outline: 0;
            }
        }
        input[type="text"] {
            font-family: 'Fira Sans', sans-serif;
            color: $text_color;
            height: 30px;
            max-width: 180px;
            float: right;
            width: 100%;
            margin-top: 1px;
            border: none;
            padding-left: 8px;
            border: 2px solid #fff;
            border-radius: 7px;
            margin-right: 10px;
            transition: 0.25s box-shadow;
            &:focus {
                box-shadow: inset 0px 0px 5px $blue;
                outline: 0;
                transition: 0.4s box-shadow;
            }
        }
        .search_icon {
            float: right;
            width: 40px;
            height: 40px;
        }
    }
}

#navigation {
    height: 100%;
    display: flex;
    align-items: center;
    & > div {
        display: flex;
        padding: 0 15px;
        align-items: center;
        justify-content: space-between;
    }
}

.pagination {
    display: inline-block;
    margin-right: 15px;
    a {
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        &:focus {
            color: pink;
        }
    }
}

.pagination-wrapper {
    .pagination {
        padding-left: 15px;
        li {
            display: inline-block;
            float: left;
            margin-right: 10px;
            span {
                text-decoration: underline;
                background: #32526e;
                border: 2px solid #fff;
                font-size: 16px;
                font-weight: 400;
                border-radius: 4px;
                box-shadow: 0 0 5px #32526e;
                color: #fff;
                padding: 1px 7px;
                position: relative;
                top: -2px;
            }
            a {
                @extend span;
                top: 0;
                text-decoration: none;
                padding: 0;
                padding-left: 7px;
                padding-right: 7px;
                border: 2px solid #32526e;
                background: #fff;
                box-shadow: none;
                color: #32526e;
            }
            img {
                height: 15px;
                width: 15px;
            }
            &:first-child {
                a {
                    background: none;
                    border: none;
                }
            }
            &:last-child {
                margin-right: 0;
                a {
                    background: none;
                    border: none;
                }
            }
        }
    }
}

.error-msg {
    padding: 5px;
    margin-top: 5px;
    background: #fff;
    border: 2px solid orange;
}

#page-main {
    article {
        position: relative;
        width: 45%;
        border-left: 5px solid $green;
        margin: 10px 0 0;
        padding: 0 10px;
        padding-bottom: 40px;
        h2 {
            margin-bottom: 15px;
            a {
                color: $text-color;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        img {
            max-width: 100%;
            max-height: 275px;
        }
        .article-img {}
        .article-description {
            margin-top: 10px;
            p {
                text-align: justify;
            }
        }
        .article-info {
            position: absolute;
            bottom: 0;
            left: 0;
            padding-left: 10px;
            width: 100%;
            .article-time {
                &::after {
                    content: '/';
                    display: inline-block;
                    margin-left: 5px;
                }
            }
            .article-commentary-count {
                display: -webkit-inline-box;
                display: -webkit-inline-flex;
                display: -moz-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -moz-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -moz-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                margin-left: 15px;
                img {
                    display: inline-flex;
                    position: relative;
                    top: 2px;
                    width: 15px;
                    height: 15px;
                }
            }
            .article-more {
                overflow: hidden;
                float: right;
                margin-right: 25px;
                a {
                    color: #F45750;
                    text-decoration: none;
                    position: relative;
                    &:after {
                        top: 100%;
                        position: absolute;
                        left: 0;
                        content: '';
                        display: inline-block;
                        width: 100%;
                        border-top: 2px solid #F45750;
                        transition: 0.2s transform ease-out;
                    }
                    &:hover::after {
                        transform: translateY(-2px);
                        transition: 0.2s transform ease-in;
                    }
                }
            }
        }
    }
}

#page-view {
    h1 {
        margin-top: 45px;
        margin-bottom: 25px;
    }
}

.post-date {
    font-weight: 700;
    margin: 10px 0 20px 0;
}

.commentary-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-top: 45px;
    width: 100%;
    border-top: 5px solid #000;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    form {
        width: 45%;
        span {
            color: red;
            margin-bottom: 3px;
            display: block;
        }
    }
    .commentary-list {
        width: 45%;
    }
    input {
        font-family: 'Fira Sans', sans-serif;
        border-radius: 7px;
        border: 1px solid #000;
        width: 100%;
        margin-bottom: 20px;
        height: 40px;
        padding-left: 15px;
        color: #32526e;
        border-color: #32526e;
        border-width: 2px;
    }
    textarea {
        font-family: 'Fira Sans', sans-serif;
        border-color: #32526e;
        border-width: 2px;
        color: #32526e;
        border-radius: 7px;
        padding-left: 15px;
        padding-top: 10px;
        padding-right: 5px;
        height: 100px;
        width: 100%;
        resize: none;
        margin-bottom: 20px;
    }
    h2 {
        width: 100%;
        margin-bottom: 30px;
        font-size: 30px;
    }
    input[type="submit"] {
        background: #32526e;
        color: #fff;
        letter-spacing: 1px;
        margin-bottom: 0;
        font-weight: bold;
        transition: 0.4s background linear, 0.2s color ease-in;
    }
    input[type="submit"]:hover {
        cursor: pointer;
        background: #fff;
        color: #32526e;
        transition: 0.4s background linear, 0.2s color ease-in;
    }
    .form {
        float: left;
        width: 40%;
        p {
            position: relative;
            span {
                width: 100%;
                position: absolute;
                color: rgba(231, 76, 60, 1.0);
                left: 0;
                top: -19.8px;
                font-size: 16px;
                img {
                    position: relative;
                    top: 4px;
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }
    .comments {
        @extend .form;
        width: 60%;
        padding-left: 100px;
        padding-right: 100px;
    }
}

.post-img {
    padding: 20px 0;
    .post-inner-img {
        display: inline-block;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

.post-author {
    font-weight: 700;
    font-size: 16px;
}

.user_comm {
    word-break: break-all;
    color: #1F3A93;
    padding: 10px 15px;
    background: #fefefe;
    box-shadow: 0 0 5px #32526e;
    margin-bottom: 25px;
    .comm-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-bottom: 10px;
        .user_descr {
            padding-left: 10px;
            padding-right: 10px;
            .au_name {
                margin-bottom: 5px;
                font-weight: 700;
                font-size: 15px;
            }
            .au_date {
                font-size: 15px;
            }
        }
    }
    span {
        position: relative;
        top: -10px;
        left: 10px;
        font-weight: bold;
        &:last-child {
            font-size: 12px;
            margin-left: 10px;
            font-weight: 400;
        }
    }
    &:nth-child(even) {
        margin-left: 50px;
    }
    &:nth-child(odd) {
        margin-right: 50px;
    }
    img {
        width: 30px;
        height: 30px;
    }
}

.post-content {
    margin-bottom: 45px;

    img {
        max-width: 100%;
        max-height: 100%;
        width: auto!important;
        height: auto !important;
    }
    p {
        text-align: justify;
        font-size: 18px;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.header-nav {
    ul {
        li {
            position: relative;
            display: inline-block;
            &::after {
                content: '';
                display: block;
                width: 0;
                left: auto;
                right: 0;
                border-top: 2px solid #BF4ACC;
                position: absolute;
                top: 100%;
                margin-top: -5px;
                transition: 0.7s width;
            }
            &:hover::after {
                left: 0;
                right: auto;
                width: 100%;
                transition: 0.5s width;
            }
            a {
                padding: 5px 0;
                font-size: 18px;
                display: block;
                text-decoration: none;
                color: #fff;
                text-transform: capitalize;
            }
            & + li {
                margin-left: 20px;
            }
        }
        li.active {
            &::after {
                width: 100%;
            }
        }
        li:nth-child(2) {
            &::after {
                border-top-color: #FF8600;
            }
        }
        li:nth-child(3) {
            &::after {
                border-top-color: #528CCB;
            }
        }
        li:nth-child(4) {
            &::after {
                border-top-color: #00D717;
            }
        }
        li:nth-child(5) {
            &::after {
                border-top-color: #F31D2F;
            }
        }
    }
}

#page-view .commentary-1 {
    border-top: 5px solid #FF8600;
}

#page-view .commentary-2 {
    border-top: 5px solid #528CCB;
}

#page-view .commentary-3 {
    border-top: 5px solid #F31D2F;
}

#page-view .commentary-4 {
    border-top: 5px solid #00D717;
}

#page-view .category-title-1 {
    border-left: 5px solid #FF8600;
}

#page-view .category-title-2 {
    border-left: 5px solid #528CCB;
}

#page-view .category-title-3 {
    border-left: 5px solid #F31D2F;
}

#page-view .category-title-4 {
    border-left: 5px solid #00D717;
}

#page-main article.category-1 {
    border-left-color: #FF8600;
}

#page-main article.category-2 {
    border-left-color: #528CCB;
}

#page-main article.category-3 {
    border-left-color: #00D717;
}

#page-main article.category-4 {
    border-left-color: #F31D2F;
}

*::-moz-selection {
    background: #85E2FF;
}

*::selection {
    background: #85E2FF;
}

.btn-nav {
    display: none;
}

@media screen and (max-width:1024px) {
    .header {
        .container {
            position: relative;
        }
    }
    .btn-nav {
        cursor: pointer;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 74px;
        width: 74px;
        background: #d43030;
        z-index: 1;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        &.active {
            .btn-inner {
                span {
                    top: 50% !important;
                    bottom: auto;
                    &:first-child {
                        -webkit-transform: translateY(-50%) rotate(45deg);
                        -moz-transform: translateY(-50%) rotate(45deg);
                        -ms-transform: translateY(-50%) rotate(45deg);
                        -o-transform: translateY(-50%) rotate(45deg);
                        transform: translateY(-50%) rotate(45deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                        visibility: hidden;
                    }
                    &:last-child {
                        -webkit-transform: translateY(-50%) rotate(135deg);
                        -moz-transform: translateY(-50%) rotate(135deg);
                        -ms-transform: translateY(-50%) rotate(135deg);
                        -o-transform: translateY(-50%) rotate(135deg);
                        transform: translateY(-50%) rotate(135deg);
                    }
                }
            }
        }
        .btn-inner {
            width: 35px;
            height: 22px;
            position: relative;
            span {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background: #fff;
                height: 2px;
                -webkit-transition: 0.5s all ease;
                -o-transition: 0.5s all ease;
                -moz-transition: 0.5s all ease;
                transition: 0.5s all ease;
                &:first-child {
                    top: 0;
                }
                &:nth-child(2) {
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
                &:last-child {
                    top: auto;
                    bottom: 0;
                }
            }
        }
    }
    #sidebar {
        display: block;
    }
    #navigation {
        display: none;
    }
    #page-main {
        article {
            h2 {
                font-size: 18px;
            }
            .article-img {
                width: 35%;
            }
            .article-description {
                font-size: 13.5px;
            }
            .article-info {
                font-size: 13.5px;
            }
        }
    }
}

@media screen and (max-width:720px) {
    #page-main {
        article {
            h2 {
                font-size: 16px;
            }
            .article-img {
                float: none;
                width: 100%;
                margin-bottom: 15px;
            }
            .article-description {
                font-size: 13px;
                padding-left: 0;
                padding-right: 0;
                float: none;
                width: 100%;
            }
            .article-info {
                font-size: 13px;
                .article-more {
                    display: block;
                    float: none;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .row-header {
        padding-top: 55px;
    }
    #sidebar {
        width: 100px;
        right: 0;
    }
    .m-hide {
        display: none;
    }
    .wrapper {
        margin-right: 0;
    }
}

@media (min-width: 1025px) {
    .nav-mobile {
        display: none;
    }
}

@media (max-width: 1024px) {
    .nav-mobile {
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.95);
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        .navigation {
            padding: 80px 20px 20px;
            .header-nav {
                margin-bottom: 20px;
            }
            #search-head-mobile {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-pack: end;
                -webkit-justify-content: flex-end;
                -moz-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
                -webkit-box-direction: reverse;
                -webkit-flex-direction: row-reverse;
                -moz-box-orient: horizontal;
                -moz-box-direction: reverse;
                -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -moz-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                input[name="submit"] {
                    width: 5%;
                }
                input[type="text"] {
                    height: 44px;
                    color: #fff;
                    font-weight: bold;
                    width: 50%;
                    background: none;
                    border: none;
                    margin-right: 20px;
                    border-bottom: 2px solid #d43030;
                }
            }
            ul {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                -moz-box-orient: vertical;
                -moz-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                li {
                    display: -webkit-inline-box;
                    display: -webkit-inline-flex;
                    display: -moz-inline-box;
                    display: -ms-inline-flexbox;
                    display: inline-flex;
                    & + li {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

@media (max-width:992px) {
    #page-main {

        .container {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -moz-box-orient: vertical;
            -moz-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }
        article {
            width: 100%;
            padding-bottom: 60px;
            margin-bottom: 20px;
            .article-img {
                width: auto;


            }
            .article-info {
                .article-commentary-count {
                    img {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {
    .btn-nav {

        background: #131313;
    }
    .row-header {
        padding-top: 0;
    }
    .commentary-form {
        -webkit-box-orient: vertical;

        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        form {
            width: 100%;
            margin-bottom: 20px;
        }
        .commentary-list {
            width: 100%;
        }
    }
}
