AddDefaultCharset utf8
php_value upload_max_filesize 10M
php_value post_max_size 10M

Options +FollowSymLinks -MultiViews

<ifModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType application/x-shockwave-flash "access plus 1 year"
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType text/javascript "access plus 1 year"
  ExpiresByType application/javascript "access plus 1 year"
  ExpiresByType application/x-javascript "access plus 1 year"
  ExpiresByType text/html "access plus 1 year"
  ExpiresByType application/xhtml+xml "access plus 1 year"
</ifModule>



RewriteEngine On
RewriteBase /
#RewriteRule ^(.*)$ index.php?params=$1 [NC]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^category/$ ?option=category&id=1 [NC]
#RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s(.*)/index\.php [NC]
#RewriteRule ^ %1 [R=301,L]